@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  /* width: 100%;
  height: 100%; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
  background-color: #f7f8fa;
}
/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-button-prev,
.swiper-button-next {
  color: black !important;

  /* Use 50% to make it a perfect circle */

  /* Adding a shadow effect */
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
}
.Toastify__toast-body {
  color: white;
}
.Toastify__toast-body .Toastify__toast-icon svg {
  fill: white; /* Set the fill color to white */
}
.Toastify__progress-bar {
  background: white;
  border: 1px solid black;
}
body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
