@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-body {
  color: white;
}
.Toastify__toast-body .Toastify__toast-icon svg {
  fill: white; /* Set the fill color to white */
}
.Toastify__progress-bar {
  background: white;
  border: 1px solid black;
}
